In [5]:
SELECT szh.SZALLAS_ID, szh.SZALLAS_NEV, COUNT(sz.KLIMAS) as 'Klímás'
FROM Szallashely szh JOIN Szoba sz ON szh.SZALLAS_ID = sz.SZALLAS_FK
GROUP BY szh.SZALLAS_ID, szh.SZALLAS_NEV

SZALLAS_ID,SZALLAS_NEV,Klímás
1,Sába-Ház,12
2,Családi Ház,4
3,Fortuna Apartman,8
4,Fortuna panzió,15
5,Fortuna Panzió,10
6,Kentaur Hotel,35
7,Szieszta Apartmanház,6
8,Hotel Három Hattyú,39
9,Jáde panzió,5
10,Lagúna Hotel,25
11,Partiszél Vendégház,5
12,Gold Hotel,50
13,Riviéra Panzió,12
14,Nyárfás Vendégház,4
15,Tímárház Panzió,12
16,Bagoly Hotel,20
17,Szarvas Hotel,15
18,Fortuna Apartman,3
19,Nyárfás Vendégház,4
20,Kollégium,10

In [9]:
SELECT
    CASE
        WHEN YEAR(v.SZUL_DAT)>1985 THEN 'fiatal'
        WHEN YEAR(v.SZUL_DAT)<1970 THEN 'idős'
        ELSE 'középkorú'
    END,
    COUNT(f.FOGLALAS_PK)
FROM Vendeg v JOIN Foglalas f ON v.USERNEV = f.UGYFEL_FK
WHERE f.FELNOTT_SZAM + f.GYERMEK_SZAM >=2
GROUP BY CASE
        WHEN YEAR(v.SZUL_DAT)>1985 THEN 'fiatal'
        WHEN YEAR(v.SZUL_DAT)<1970 THEN 'idős'
        ELSE 'középkorú'
    END

(No column name),(No column name)
fiatal,342
idős,96
középkorú,442